Flask==2.3.2
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.29
WTForms==3.1.2
Flask_WTF==1.2.1
Werkzeug==3.0.2
Requests==2.31.0
Bootstrap_Flask==2.2.0
gunicorn==22.0.0
email-validator==2.1.1
beautifulsoup4==4.12.3
spotipy==2.23.0
psycopg2-binary==2.9.9
