{{- /* adds series-aware post navigation. */}}

{{- $prev := false }}
{{- $next := false }}
{{- $in_series := false }}

{{- with .Params.series }}
{{- with site.GetPage (printf "/series/%s" (urlize (index . 0))) }}
{{- $pages := .Pages.ByDate }}
{{- $idx := $pages.IndexOf $ }}
{{- if ge $idx 0 }}
{{- $in_series = true }}
{{- if gt $idx 0 }}{{ $prev = index $pages (sub $idx 1) }}{{ end }}
{{- if lt $idx (sub (len $pages) 1) }}{{ $next = index $pages (add $idx 1) }}{{ end }}
{{- end }}
{{- end }}
{{- end }}

{{- if not $in_series }}
{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
{{- $prev = $pages.Next . }}
{{- $next = $pages.Prev . }}
{{- end }}
{{- end }}

{{- if or $prev $next }}
<nav class="paginav">
  {{- with $prev }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">« {{ i18n "prev_page" }}</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $next }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title">{{ i18n "next_page" }} »</span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
