{% extends "layout.html"%}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Air Nomad Society | Personalized Flight Deals via Email{% endblock %}

{% block description %}
    Join the Air Nomad Society and receive the best flight deals directly in your inbox. Sign up now for weekly emails packed with exclusive deals.
{% endblock %}

{% block content %}
    <h1 class="display-5">Air Nomad Society</h1>
    <p class="lead my-4">Get the best flight deals directly in your inbox, fully automated, just one email per week.</p>
    <a href="{{ url_for('ans_subscribe') }}"><button type="button" class="btn btn-warning my-3"><strong>Subscribe For Free</strong></button></a>
    <br><br><br>
    <!-- Benefits -->
    <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <h2 class="pb-2 border-bottom border-3 border-3">Benefits</h2>


        <div class="row featurette py-5">
            <div class="col-md-7" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <h2 class="featurette-heading fw-normal lh-1" style="margin-bottom: 20px;">Get <span style="color: #A5C9E1">Personalized </span>Flight Deals</h2>
                <p class="lead">Say goodbye to generic search results. Our platform delivers personalized flight deals tailored to your preferences, ensuring you never miss out on the perfect deal.</p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 20px;" width="400" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Mountain with ocean view</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <image height="100%" width="100%" preserveAspectRatio="xMidYMid slice" href="https://images.unsplash.com/photo-1567927663055-efed28734f1f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cmVpc2VufGVufDB8fDB8fHww"></image>
                </svg>
              </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette py-5">
          <div class="col-md-7 order-md-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2 class="featurette-heading fw-normal lh-1" style="margin-bottom: 20px;">Discover <span style="color: #A5C9E1">Unusual </span>Destinations</h2>
            <p class="lead">Explore new places easily with our site. Find unique spots without trouble and learn about different cultures as you go.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 20px;" width="400" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Sailing boat on the ocean</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                <image height="100%" width="100%" preserveAspectRatio="xMidYMid slice" href="https://images.unsplash.com/photo-1615449551620-d4b780ef9387?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVpc2VufGVufDB8fDB8fHww"></image>
            </svg>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette py-5">
          <div class="col-md-7" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2 class="featurette-heading fw-normal lh-1" style="margin-bottom: 20px;">No More <span style="color: #A5C9E1">Lengthy </span>Flight Searches</h2>
            <p class="lead">Make finding flights simpler with one weekly email. Say goodbye to the hassle of old search ways and quickly find the flight info you need.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border-radius: 20px;" width="400" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Beach</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                <image height="100%" width="100%" preserveAspectRatio="xMidYMid slice" href="https://images.unsplash.com/photo-1609948679766-a6d38be3bae4?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJlaXNlbnxlbnwwfHwwfHx8MA%3D%3D"></image>
            </svg>
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

</div>
    <br><br><br>
    <!-- FAQ -->
    <div class="container py-3 text-left" id="faq">
        <h2 class="pb-2 border-bottom border-3">FAQ</h2>
        <div class="row featurette py-5">
          <div class="col-md-7">

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question1" aria-expanded="false" aria-controls="collapseWidthExample">
          What is the pricing for Air Nomad Society?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question1">
          <div class="card card-body answer">
            Air Nomad Society is completely free to join and use.
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question2" aria-expanded="false" aria-controls="collapseWidthExample">
          What is the difference to Skyscanner and Co.?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question2">
          <div class="card card-body answer">
              <p>Air Nomad Society offers a personalized, hassle-free flight deal service that's free to use. You receive tailored deals for your favorite destinations and discover new ones weekly, without the need for active searching, making it a unique and convenient alternative to traditional flight comparison platforms.</p>
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question3" aria-expanded="false" aria-controls="collapseWidthExample">
          How often will I receive flight deal emails?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question3">
          <div class="card card-body answer">
            Emails are sent once a week containing deals for your favorite destinations.
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question4" aria-expanded="false" aria-controls="collapseWidthExample">
          What does "Favorite Destinations" mean?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question4">
          <div class="card card-body answer">
            If you mark certain countries as favorites, you'll receive flight deals for them in every weekly email.
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question5" aria-expanded="false" aria-controls="collapseWidthExample">
          Will I get flight deals for non-favorite destinations?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question5">
          <div class="card card-body answer">
            Yes, you will receive random flight deals for destinations outside your favorite countries.
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question6" aria-expanded="false" aria-controls="collapseWidthExample">
          How far ahead do the flight deals cover?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question6">
          <div class="card card-body answer">
            Flight deals cover the next 180 days into the future.
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question7" aria-expanded="false" aria-controls="collapseWidthExample">
          What is next after joining?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question7">
          <div class="card card-body answer">
            Sit back and relax while the flight deals come straight to your inbox. No additional steps required.
          </div>
        </div>
      </div>

        <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question8" aria-expanded="false" aria-controls="collapseWidthExample">
          How can I update my profile?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question8">
          <div class="card card-body answer">
              At the bottom of each email, there is a  link for you to easily update your profile whenever your travel interests or needs change.
          </div>
        </div>
      </div>

      <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question9" aria-expanded="false" aria-controls="collapseWidthExample">
          How can I give feedback to improve the flight deal service?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question9">
          <div class="card card-body answer">
            <a href="{{ url_for('feedback') }}" class="links">Give Feedback</a>
          </div>
        </div>
      </div>

        <p>
        <button class="btn btn-outline-light link-unstyled" type="button" data-bs-toggle="collapse" data-bs-target="#question10" aria-expanded="false" aria-controls="collapseWidthExample">
            How will the email look like?
        </button>
      </p>
      <div>
        <div class="collapse pb-4" id="question10">
          <div class="card card-body answer">
            <a href="{{ url_for('ans_example_email') }}" class="links">Take a look </a>Please be aware that flight deals may no longer be available and some links may not function as this is a demonstration.
          </div>
        </div>
      </div>

    </div>
          <div class="col-md-5">
            <img class="card rounded-4" style="opacity: 0.8; max-width: 100%; max-height: 100%;" src="https://images.unsplash.com/photo-1586348943529-beaae6c28db9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D">
          </div>
        </div>
    </div>
{% endblock %}


