{% extends "layout.html"%}

{% from "bootstrap5/form.html" import render_form %}

{% block title %}Timon Rieger | Projects & Personal{% endblock %}

{% block description %}
    Explore Services, Art, and more projects by Timon Rieger - Entrepeneur | Software Developer | Artist
{% endblock %}

{% block content %}
    <div class="my-5 py-5">
        <h1>Timon's Project Hub</h1>
        <p class="lead" style="margin: 20px">Explore all my projects. Feel free to try them out!</p>
        <p class="lead">
          <a href="{{ url_for('browse_projects') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">Explore</a>
        </p>
    </div>
    <div class="my-5">
    {% if get_flashed_messages() %}
            {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if category == 'success' %}
                    <div class="alert alert-success flash my-4" role="alert">
                        <h5>{{ message }}</h5>
                    </div>
                {% elif category == 'error' %}
                    <div class="alert alert-danger flash my-4" role="alert">
                         <h5>{{ message }}</h5>
                    </div>
                {% else %}
                    <div class="alert alert-light flash my-4" role="alert">
                         <h5>{{ message }}</h5>
                    </div>
                {% endif %}
            {% endfor %}
    {% else %}
        {{ render_form(form, button_map={"submit": "primary"}) }}
    {% endif %}
    </div>
{% endblock %}
