{% extends "layout.html" %}

{% from "bootstrap5/form.html" import render_field %}

{% block title %}About Me | Timon Rieger{% endblock %}

{% block description %}
    Timon Rieger is a passionate Software Developer, Entrepreneur, and Artist. Explore him and his work here.
{% endblock %}

{% block content %}
    <br>
  <!-- Intro -->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row justify-content-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/images/me.jpeg" class="rounded-circle hover-grow" width="100%" alt="Avatar">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1">Hey there, I'm Timon!</h1>
        <p class="lead my-5">life time learner, work time developer, free time hustler</p>
        <a href="{{ url_for('browse_projects') }}" class="btn btn-outline-light btn-lg px-4">Projects</a>
        {% if get_flashed_messages() %}
          {% for category, message in get_flashed_messages(with_categories=true) %}
              {% if category == 'success' %}
                  <div class="alert alert-success flash mt-5" role="alert">
                      <h5>{{ message }}</h5>
                  </div>
              {% elif category == 'error' %}
                  <div class="alert alert-danger flash mt-5" role="alert">
                       <h5>{{ message }}</h5>
                  </div>
            {% elif category == 'not_sent' %}
                  <div class="alert alert-danger flash mt-5" role="alert">
                     <h5>{{ message }} <a href="mailto:timonriegerx@gmail.com?subject=Newsletter - Confirm me please&body=The confirmation email could not be sent, therefore please confirm me manually with {{ form.email.data }}." class="alert-link">email</a>.</h5>
                  </div>
              {% else %}
                  <div class="alert alert-light flash mt-5" role="alert">
                       <h5>{{ message }}</h5>
                  </div>
              {% endif %}
          {% endfor %}
      {% else %}
          <form method="post">
            <div class="mt-5 p-2 p-md-3 border rounded-3 bg-body-tertiary" style="width: 75%; margin: 0 auto;">
                <div class="form-floating mb-3">
                  {{ form.hidden_tag() }}
                  {{ render_field(form.email) }}
                </div>
                <div class="form-floating mb-3">
                  {{ render_field(form.submit, button_map={"submit": "light"}) }}
                </div>
                <small class="text-body-secondary">Only very occasional updates. Nothing else.</small>
            </div>
          </form>
      {% endif %}
      </div>
    </div>
  </div>

  <!-- Hobbies -->
  <div class="container px-4 py-5" id="interests">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
        {% for interest in all_interests %}
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fw-bold mb-1 fs-4 text-body-emphasis">{{ interest.title }}</h3>

                    {% if interest.link %}
                        <p>{{ interest.text }} <a class="links" href="{{ interest.link }}" title="{{ interest.title }}">more</a></p>
                    {% else %}
                        <p>{{ interest.text }}</p>
                    {% endif %}
                </div>
              </div>
        {% endfor %}
    </div>
  </div>

<!-- Support Me -->
    <div class="container px-4" id="support">
        <p class="py-2" style="text-align: justify; line-height: 1.8;">Open-source development demands significant time and effort. Without advertisements, I don't earn from my projects. Your support means the world to me as it keeps me motivated and enables me to invest more time into these projects. If you appreciate my work, please consider sharing my projects, <a class="links" href="https://www.paypal.com/donate/?hosted_button_id=23QXTJKGVSM7Y" title="Support me">donating</a>, or even just <a class="links" href="{{ url_for('contact') }}" title="Send me an email">saying thank you</a>.</p>
</div>

{% endblock %}