{% extends "layout.html" %} 

{% block title %}About Me | Timon Rieger{% endblock %} 

{% block description%} Timon Rieger is a passionate Software Developer, Entrepreneur, and Artist. Explore him and his work here. {% endblock %} 

{% block content %}
<br />
<div id="photo-gallery-container">
  <div id="photo-gallery">
    {% for photo in photo_gallery %}
    <a href="{{ url_for('photography')}}" class="photo-link hover-grow">
      <img
        class="photo"
        src="../static/images/photography/{{ photo.filename }}"
        alt=""
        loading="lazy"
      />
    </a>
    {% endfor %}
  </div>
</div>

<!-- Intro -->
<div class="container col-xxl-8 px-4 py-4">
  <div class="row g-5 py-5 align-items-center">
    <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-center">
      <h1
        class="display-5 fw-bold text-body-emphasis lh-1 text-center"
      >
        Hey there, I'm Timon!
      </h1>
    </div>
    <div
      class="col-lg-6 d-flex flex-column align-items-center"
    >
      <p class="lead text-center">
        life time learner, work time dev, free time philo
      </p>
      <a
        href="{{ url_for('projects') }}"
        class="btn btn-outline-light btn-lg px-4"
        >Projects</a
      >
    </div>
  </div>
</div>

<!-- Hobbies -->
<div class="container" id="interests">
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4"
  >
    {% for interest in all_interests %}
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-1 fs-4 text-body-emphasis">
          {{ interest.title }}
        </h3>

        {% if interest.link %}
        <p>
          {{ interest.text }}
          <a
            class="links"
            href="{{ interest.link }}"
            title="{{ interest.title }}"
            >more</a
          >
        </p>
        {% else %}
        <p>{{ interest.text }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="../static/assets/js/photo-gallery.js"></script>

{% endblock %}
