{% extends "layout.html" %}

{% block title %}Photography | Timon Rieger{% endblock %}

{% block description %}
    Check out my photography portfolio to discover unique moments and the camera settings used for each.
{% endblock %}

{% block styles %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="display-5" style="text-transform: capitalize">Photos from around the world</h1>
		<p class="lead my-4 pb-3">The camera settings of each photo are retrieved automatically from my camera.<br>
		If you are interested in using one of my photos, please <a class="links" href="{{ url_for('contact') }}" title="Send me an email">contact me</a> first.</p>
	</div>

	<div class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
				<div id="main">
					{% for photo in all_photos %}
						<article class="thumb">
							<a href="../static/images/photography/{{ photo.filename }}" class="image">
								<img src="../static/images/photography/{{ photo.filename }}" alt="" loading="lazy"/>
							</a>
							<p>#{{ loop.index }} of {{ all_photos|length }}{{ photo.camera }}{{ photo.exposure }}</p>
						</article>
					{% endfor %}
				</div>
			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</div>


{% endblock %}
