.terms-tags li {
  display: inline-block;
  margin: 10px;
}

.terms-tags a {
  display: block;
  padding: 4px 8px;
  background: var(--tertiary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: transform 0.1s;
}

.terms-tags a:active {
  transform: scale(0.96);
}

.terms-tags a:hover {
  background: var(--border);
}
